@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;0&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.bg__img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: rgb(242, 254, 254);
}

.title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  font-weight: 200;
}
.title p {
  font-size: 1rem;
  color: rgb(164, 164, 164);
}
.contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tabla {
  width: 45%;
}
.actual:hover {
  cursor: pointer;
}
.mapa-location {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapa-container {
  width: 40rem;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-tutorial {
  padding-bottom: 1rem;
}
.mapa-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}



@media (max-width: 1024px) {
  .bg__img {
    height: 200vh;
    background-color: rgb(242, 254, 254);
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2rem;
    font-weight: 200;
  }
  .title p{
    text-align: center;
    /* color: green; */
  }
  .contenido {
    flex-direction: column;
  }
  .mapa-location {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapa-description {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    width: 75%;
  }
  .mapa-description h2{
    text-align: center;
  }
  .mapa-container {
    width: 15rem;
  }
}
